body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    gap: 10px;
    justify-items: center;
}

h2 {
    
    font-size: 2.5rem;

}

.board {

    margin-top: 20px;

}

.player-board {

    grid-row: 2/3;
    grid-column: 1/2;

}

.enemy-board {

    grid-row: 2/3;
    grid-column: 2/3;

}

.pheading {

    grid-column: 1/2;
    grid-row: 1/2;

}

.eheading {

    grid-column: 2/3;
    grid-row: 1/2;

}
  
  button {
    padding: 10px;
    margin: 10px;
    width: 120px;
    grid-row: 3/4;
    grid-column: 1/3;
  }
  
  .board {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .grid-cell {
    width: 42px;
    height: 42px;
    outline: 3px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 3px;
  }
  